<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="form-gruop">
<div class="row">
<div class="col-sm-5">
<%= form_for(@teacher) do |f| %>
    <%= f.label :nik %> </br>
    <%= f.text_field :nik ,class:"form-control" %> </br>

    <%= f.label :name %> </br>
    <%= f.text_field :name ,class:"form-control"%> </br>

    <%= f.label :age %> </br>
    <%= f.text_field :age, class:"form-control" %> </br>

    <%= f.label :kelas %> </br>
    <%= f.text_field :kelas ,class:"form-control"%> </br>

    <%= f.label :mapel %> </br>
    <%= f.text_field :mapel, class:"form-control" %> </br>

    <%= f.submit "Save" , class:"btn btn-success"%>
<% end %>
</div>
</div>
</div>