<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
  <div class="row">
<% if flash[:notice].present? %>
    <%= flash[:notice] %>
    <% end %> </br>
NIK : <%= @teacher.nik %> </br>
Name : <%= @teacher.name %> </br>
Age : <%= @teacher.age %> </br>
Kelas : <%= @teacher.kelas %> </br>
Mapel : <%= @teacher.mapel %> </br>
</div>
<div class="row">
<%= link_to 'Home', teachers_path(), class:"btn btn-success" %>
</div>
</div>