<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="form-group">
<div class="container">
  <div class="row">
    <div class="col-sm-5">
<%= form_for(@payment) do |f| %>
    <%= f.label :id_transtaction %> </br>
    <%= f.text_field :id_transtaction , class:"form-control"%> </br>

    <%= f.label :status %> </br>
    <%= f.text_field :status, class:"form-control"%> </br>

    <%= f.label :upload %> </br>
    <%= f.text_field :upload, class:"form-control" %> </br>
    <%= f.submit "Save" , class:"btn btn-success"%>
<% end %>
</div>
</div>
</div>
</div>