<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %>

</br>

<table class="table">
    <tr>
        <th>ID-Transsaction</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <% @payment.each do |s|%>
    <tr>
        <td><%= s.id_transtaction %></td>
        <td><%= s.status %></td>
        <td><%= link_to 'Detail', payment_path(s), class:"btn btn-info" %> <%= link_to 'Edit', edit_payment_path(s), class:"btn btn-warning" %>
        <%= link_to 'Delete', s , class:"btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
</table>

&nbsp; <%= link_to "New", new_payment_path(), class:"btn btn-success" %>