<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
    <div class="row">
<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %> 

</br>
    

        ID Transsaction : <%= @payment.id_transtaction %> </br>
        Status : <%= @payment.status %> </br>
        Upload : <%= @payment.upload %> </br>
    </div>
</div>

<div class="container">
    <div class="row">
        <%= link_to 'Home', payments_path(), class:"btn btn-success" %>
    </div>
</div>