<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
<div class="row">
<div class="col-sm-5">
<%= form_for(@exam) do |f| %>
    <%= f.label :title %> </br>
    <%= f.text_field :title, class:"form-control"%> </br>

    <%= f.label :mapel %> </br>
    <%= f.text_field :mapel, class:"form-control" %> </br>

    <%= f.label :duration %> </br>
    <%= f.text_field :duration, class:"form-control" %> </br>

    <%= f.label :nilai %> </br>
    <%= f.text_field :nilai, class:"form-control" %> </br>

    <%= f.label :status %> </br>
    <%= f.text_field :status, class:"form-control" %> </br>

    <%= f.label :level %> </br>
    <%= f.text_field :level, class:"form-control" %> </br>

    <%= f.label :student_id %> </br>
    <%= f.text_field :student_id, class:"form-control" %> </br>

    <%= f.submit "Save", class:"btn btn-success" %>
<% end %>
</div>
</div>
</div>