
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<% if flash[:notice].present? %>
    <%= flash[:notice] %>
    <% end %> </br>
<table class="table">
    <tr>
        <th>title</th>
        <th>Mapel</th>
        <th>Action</th>
    </tr>
    <% @exam.each do |s|%>
    <tr>
        <td><%= s.title %></td>
        <td><%= s.mapel %></td>
        <td><%= link_to 'Detail', exam_path(s), class:"btn btn-info" %> <%= link_to 'Edit', edit_exam_path(s), class:"btn btn-warning" %>
        <%= link_to 'Delete', s , class:"btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
</table>
<%= link_to 'New Teacher', new_exam_path(), class:"btn btn-success" %>