<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class= "container">
<div class= "row">
<div class= "col-sm-5">
<% if flash[:notice].present? %>
    <%= flash[:notice] %>
    <% end %> </br>
Title : <%= @exam.title %> </br>
Mapel : <%= @exam.mapel %> </br>
Duration : <%= @exam.duration %> </br>
Nilai : <%= @exam.nilai %> </br>
Status : <%= @exam.status %> </br>
Level : <%= @exam.level %> </br>
StudentId : <%= @exam.student_id %> </br>
<%= link_to 'Home', exams_path(), class:"btn btn-success" %>
