<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
<div class="row">
<div class="col-sm-5">
<% if flash[:notice].present? %>
    <%= flash[:notice] %>
    <% end %> </br>
Title : <%= @report.title %> </br>
Hasil : <%= @report.hasil %> </br>
Mapel : <%= @report.mapel %> </br>
TeacherId : <%= @report.teacher_id %> </br>
StudentId : <%= @report.student_id %> </br>
Date : <%= @report.date %> </br>
</div>
</div>
<%= link_to 'Home', reports_path(), class:"btn btn-success" %>
</div>

